/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height:100%;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
    
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 32px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
#hero {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    margin-bottom: 20px;
}

/* About Section Styles */
#about {
    padding: 50px 0;
}

#about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#about p {
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    /* margin-top: auto; */
    
    background: #fff;
    color: #fff;
    text-align: center;
    
    padding: 20px 0;
}

footer p {
    font-size: 14px;
}

